$main: rgb(34, 110, 72);
$focal: rgb(184, 215, 178);
$accent: rgb(113, 185, 190);

body {
    background: $main;
}

header {
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    background: linear-gradient(270deg, $accent, $main);
    color: $focal;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5em;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 1em;
    padding: 0.5em;

}

input, button {
    background: rgb(54, 82, 84);
    background: white;
    border-color: rgb(54, 82, 84);
    border-style: none;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-left: 10%;
}

#samples div {
    border-style: solid;
    border-color: $accent;
    border-radius: 1.5em;
    padding: 1.5em;
    width: 60%;
    margin: 1em;
    background: $focal;
    margin-left: 10%;

}
